
p {
	font-family: Lato;
}

/deep/ .mat-slide-toggle-bar {
	height: 12px !important;
	width: 42px !important;
}

/deep/ .mat-slide-toggle-thumb {
	height: 16px !important;
	width: 16px !important;
}

/deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
	background-color: rgba(6, 140, 10, 0.54);
}

/deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
	background-color: green;
}

/deep/ .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
	transform: translate3d(26px, 0, 0) !important;
}

/deep/ .mat-slide-toggle-thumb-container {
	/*width: 12px !important;*/
	/*height: 12px !important;*/
	/*top: -2px !important;*/
}

.example-full-width {
	width: 100%;
}

input {
	font-size: 15px;
	/*padding: 10px;*/
}

.linha {
	-webkit-box-shadow: 0px 1px 1px #efefef;
	-moz-box-shadow: 0px 1px 1px #efefef;
	box-shadow: 0px 1px 1px #efefef;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  /*width: 90%;*/
}

.linha-botoes {
	padding: 10px;
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-between;
}

.justify-space-around {
	justify-content: space-around;
}

.name-colum {
	padding: 20px 5px 20px 5px;
}

.config-label {
	padding: 8px;
	font-weight: bold;
}

.title {
	padding: 10px 0px 10px 0px;
	width: 30%;
	font-size: 15px;
	text-align: center;
}

.flex-grow-1 {
	flex-grow: 1;
	flex-basis: 30%;
}

.gridHeader {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #286920;
	box-shadow: 0px 1px 1px #888888;
	color: #FFFFFF;
}

.gridHeader-row {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #286920;
	box-shadow: 0px 1px 1px #888888;
	color: #FFFFFF;
}

.negrito {
	font-weight: bold;
}

.center {
	align-items: center;
}

.button-blue {
	padding: 10px;
	background-color: #286920;
	color: #FFFFFF;
	font-weight: bold;
}

.button-dark {
	padding: 10px;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
}

.button-red {
	padding: 10px;
	background-color: #ef3400;
	color: #FFFFFF;
	font-weight: bold;
}

.splash {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #0000a2;
}

.spinner {
	margin: 100px auto;
	width: 40px;
	height: 40px;
	position: relative;
}

.cube1, .cube2 {
	background-color: #333;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
	animation: sk-cubemove 1.8s infinite ease-in-out;
}

.top-icon {
  color: white;
  text-align: center;
  font-size: 25px;
}
.delete-icon {
  color: red;
  text-align: center;
  width: 100%;
  font-size: 25px;
  padding-top: 0.7em;
}
.end-in-number {
  color: green;
  text-align: center;
  width: 100%;
  font-size: 25px;
  padding-top: 0.7em;
}

.cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
	25% {
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
	}
	50% {
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
	}
	75% {
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
	}
	100% {
		-webkit-transform: rotate(-360deg)
	}
}

@keyframes sk-cubemove {
	25% {
		transform: translateX(42px) rotate(-90deg) scale(0.5);
		-webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	}
	50% {
		transform: translateX(42px) translateY(42px) rotate(-179deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	}
	50.1% {
		transform: translateX(42px) translateY(42px) rotate(-180deg);
		-webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	}
	75% {
		transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
		-webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	}
	100% {
		transform: rotate(-360deg);
		-webkit-transform: rotate(-360deg);
	}
}

.input-without-border {
	background-color: #286820;
	border: none;
	color: white;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	width: 30%;
}

.qtde-toolbar {
  display: flex;
  flex-direction: row-reverse;
  width: 30%;
}

.input-without-border-center {
	background-color: #286820;
	border: none;
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	width: 30%;
}

.input-drinkers {
	/*background-color: #286820;*/
	/*border-color: #efefef;*/
	/*border: solid;*/
	color: #286820;
	/*text-align: left;*/
	/*font-size: 30px;*/
	/*font-weight: bold;*/
	width: 25%;
}

.input-drinkers-15-without-padding {
	color: #286820;
	width: 15%;
}
.input-drinkers-15 {
	/*background-color: #286820;*/
	/*border-color: #efefef;*/
	padding-top: 1.25em;
	/*border: solid;*/
	color: #286820;
	/*text-align: left;*/
	/*font-size: 30px;*/
	/*font-weight: bold;*/
	width: 15%;
}

.input-drinkers-padding-top {
  padding-top: 1.9em;
  font-size: 20px;
}

.input-drinkers-padding-left {
	padding-left: 0.8em;
}

.input-drinkers-10 {
	/*background-color: #286820;*/
	/*border-color: #efefef;*/
	padding-top: 1.25em;
	/*border: solid;*/
	color: #286820;
	/*text-align: left;*/
	font-size: 15px;
	/*font-weight: bold;*/
	width: 13%;
}
