<ion-header>
	<ion-toolbar>
		<ion-title class="linha gridHeader">
			<div class="linha name-colum">
				<div>Preço da cerveja</div>
				<div>{{this._tableService.beer_unit_value | currency:'BRL'}}</div>
			</div>
			<div class="linha name-colum">
				<div>Quantidade</div>
				<div>{{this._tableService.beer_ammount}}</div>
			</div>
			<div class="linha name-colum">
				<div>Valor da conta</div>
				<div>{{(this._tableService.beer_ammount * this._tableService.beer_unit_value)|currency:'BRL'}}</div>
			</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		<div class="linha gridHeader">
			<div class="title negrito" style="width: 30%">Nome</div>
			<div class="title negrito" style="width: 30%">Chegou na</div>
			<div class="title negrito" style="width: 30%">Pagar</div>
			<div class="title negrito" style="width: 10%"></div>
		</div>

		<div class="linha" *ngFor="let drinker of _tableService.drinkers; let idx=index">
			<ion-input type="text" placeholder="Nome" class="input-with-border"  style="width: 30%" (ionChange)="addNewDrinkerIfNecessary()" [(ngModel)]="drinker.name"></ion-input>
			<ion-input text-center type="number" min="0" [max]="this._tableService.beer_ammount" placeholder="Chegou na" class="input-with-border"  style="width: 30%" (ionChange)="startInChanged()" [(ngModel)]="drinker.start_in"></ion-input>
			<ion-input text-right disabled="true" type="number" placeholder="" class="input-with-border" style="width: 30%">{{drinker.should_pay|currency:'BRL'}}</ion-input>
<!--			<ion-input text-right disabled="true" type="number" placeholder="" class="input-with-border">{{drinker.ammout_drinked|number:'0.00'}}</ion-input>-->
			<button [disabled]="drinker.name == '' && this._tableService.drinkers.length <= 1" (click)='deleteDrinker(idx)'
					style="width: 10%; background: none;"
					class="input-with-border">
				<ion-icon name="trash"  style="color: red; font-size: 20px"></ion-icon>
			</button>
		</div>
	</div>

	<!--	<div class="linha-botoes">-->
	<!--		<button (click)="addNewDrinker()" class="button-blue">Mais um cachaceiro</button>-->
	<!--	</div>-->

</ion-content>
